<% include base/head.ejs %>
<main class="create">
  <div class="container">
    <h1>Kamernummer: <span class="number"></span></h2>
    <ul class="list">

    </ul>
    <button class="start">Begin de game</button>
  </div>
</main>
<% include base/footer.ejs %>
