<% include base/head.ejs %>
<main class="host">
  <div class="gameSectionBall">
    <span class="ball"></span>
  </div>
  <div class="gameSection">
    <span class="player1Pad"></span>
    <span class="player2Pad"></span>
  </div>
  <div class="score">
    <h1 class="player1Score">0</h1>
    <h1 class="player2Score">0</h1>
  </div>
</main>
<% include base/footer.ejs %>
