<% include base/head.ejs %>
<main class="host">
  <div class="gameSectionBall">
    <span class="ball"></span>
  </div>
  <div class="gameSection">
    <span class="player1Pad"></span>
    <span class="player2Pad"></span>
  </div>
  <div class="score">
    <h1 class="player1Score">0</h1>
    <h1 class="player2Score">0</h1>
  </div>
  <div class="popup">
    Speler <span></span> heeft het spel verlaten, wacht tot deze speler terug is of ga terug naar de home page
    <a href="/">Terug</a>
  </div>
  <div class="popup2">
    <p>
      Deze lobby bestaat niet meer
      <a href="/">Ga terug</a>
    </p>
  </div>
</main>
<% include base/footer.ejs %>
