<% include base/head.ejs %>
<main class="host">
  <div class="gameSection">
    <span class="ball"></span>
    <span class="player1Pad"></span>
    <span class="player2Pad"></span>
  </div>
</main>
<% include base/footer.ejs %>
