<% include base/head.ejs %>
<main class="home">
  <div class="container">
    <h1>Maak je keuze</h1>
    <a href="/lobby/join" class="join">Join a room</a>
    <a href="/lobby/create" class="create">Create a room</a>
  </div>
</main>
<% include base/footer.ejs %>
