<% include base/head.ejs %>
<main class="join">
  <div class="container">
    <h1>Maak je keuze</h1>
    <ul class="list">

    </ul>
  </div>
  <div class="joined">
    <a href="/lobby/join" class="back">Kies een nieuwe lobby</a>
    <h1 class="room"></h1>
    <ul class="users">

    </ul>
    <h2>Wait for your host</h2>
  </div>
  <div class="host-diconnect">
    De host heeft het spel verlaten, kies een nieuwe room
    <a href="/lobby/join">Ga terug</a>
  </div>
</main>
<% include base/footer.ejs %>
