<% include base/head.ejs %>
<main class="player player1">
  <div class="settings">
    <div class="turn active">
      Use your phone
    </div>
    <div class="buttons">
      Use the buttons
    </div>
  </div>
  <button class="left"></button>
  <button class="right"></button>
</main>
<% include base/footer.ejs %>
