<% include base/head.ejs %>
<main class="player player2">
  <div class="settings">
    <div class="turn active">
      Use your phone
    </div>
    <div class="buttons">
      Use the buttons
    </div>
  </div>
  <button class="left"></button>
  <button class="right"></button>
  <div class="host-diconnect">
    De host heeft het spel verlaten, kies een nieuwe room
    <a href="/lobby/join">Ga terug</a>
  </div>
  <div class="popup2">
    <p>
      Deze lobby bestaat niet meer
      <a href="/">Ga terug</a>
    </p>
  </div>
</main>
<% include base/footer.ejs %>
