body{ margin: 0; }
main{ width: 100vw; height: calc(100vh - 100px); max-width: 100%; max-height: 100%; position: relative;
  #player1{ position: absolute; display: block; width: 25px; height: 100px; background: red; left: 0; top: 50% }
  #player2{ position: absolute; display: block; width: 25px; height: 100px; background: blue; left: 100%; transform: translateX(-100%); top: 50%; }
}
.you{ font-weight: bold; }
